:root {
  font-family: roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  padding: 0;
  max-width: 100vw;
}
body {
  margin: 0;
}

#connect-wallet .go3572451881 button {
  background-color: #39362f;
  border: none; /* Remove border */
  /* padding: 0 5px; Add padding */
  border-radius: 8px; /* Round corners */
  cursor: pointer; /* Pointer cursor */
}
#connect-wallet .go3572451881 button div {
  color: #e2d171; /* White text */
}
